.container-fluid{

	width: 100%;
	height: auto;
	
}
.row{
	width: 100%;
}
.start {
	width: 100%;
	height: auto;


}
 h2{

	font-size: 32px;
	font-weight: bold;
}




.image{

	width: 100%;

	height: auto;
	
	
	background-color: darkgrey;

}
.image img{

	width: 60%;
	height: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20%;
	

}