
<div class="container-custom">
       

<div class="row">
        <div class="col-md-5">

                <h2> My Phone Book</h2>
     
     <h3> New Contact</h3> 
                <form [formGroup]="this.customerService.form" (ngSubmit)="onSubmit()">
                        <input type="hidden" formControlName="$key">
                        <div class="form-group">
                                <label>First Name</label>
                                <!-- we will add this class is-invalid with the help of [ngClass] directive 
                                this class will be applied when the form is submitted and we have a validation error regarding full name -->
                                <input formControlName="firstName" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.firstName.errors}">
                                <!-- now we will add an additional due to show the exact reason for the validation error so here we have the deal with this class invilid-feedback 
                                        only based on the same condition inside that -->
                                <div class="invalid-feedback" *ngIf="submitted && formControls.firstName.errors">This field is required</div>
                        </div>

                        <div class="form-group">
                                <label>Last Name</label>
                                <!-- here we add the the invalid class based on the same condition for email and the possible error for this email control is due to the invalid email address -->
                                <input formControlName="lastName" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.lastName.errors}">
                                <div class="invalid-feedback" *ngIf="submitted && formControls.lastName.errors">This field is required ..</div>
                        </div>

                        <div class="form-group">
                                <label>Phone Number</label>
                                <input formControlName="phoneNumber" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.phoneNumber.errors}">
                                <div class="invalid-feedback" *ngIf="submitted && formControls.phoneNumber.errors">
                                        <label *ngIf="formControls.phoneNumber.errors.required">This field is required</label>
                                        <label *ngIf="formControls.phoneNumber.errors.minlength">at least 8 numbers</label>
                                </div>
                        </div>

                

                        <div class="form-group">
                                <input type="submit" class="btn btn-success" value="Add contact">
                        </div>
                </form>
                <div class="alert alert-info" *ngIf="showSuccessMessage">
        submitted successfully.
</div>


        </div>
        <div class="col-md-7">
                <customer-list></customer-list>
        </div>


</div> 
