

.container-fluid{

	width: 100%;
	height: auto;
}

  h2{
	color: #DC7633;
	margin-top: 0;
}


#frst{
    width: 45%; 
	margin-top: 20px;
	margin-right: 20px;
	
	
 

	
}
#foom{
	width: 45%;
	margin-top: 20px;
	margin-left: 10px;


}
#lnm{

	width: 40%;
	margin-left: 5px;
	border: 1px;
	display: inline-block;
	
}

#fnm{

	width: 40%;
	margin-right: 5px;
	margin-left: 20px;
	border: 1px;
	display: inline-block;
}

#phn{

	width: 85%;
	margin-left: 20px;
}

form{
	background-color: darkgrey;
}

.btn {
margin-left: 40%;
margin-bottom: 20px;
margin-top: 70px;
	}
	




